
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("~/Views/PartialView/Admin/pScriptUIGrid.cshtml")
<script src="~/Areas/Admin/Content/js/Account/account.js"></script>
<script src="~/Scripts/BaseJS/kendo-window.js"></script>
<div ng-app="app" ng-controller="controller">
    <div class="reservation">
        <div id="kUI_window" style="display:none;">
            @Html.Partial("pDetailAccount")
        </div>
    </div>

    <div class="uk-grid uk-grid-small">
        <div class="uk-width-1">
            <div class="md-card">
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">
                        <i class="uk-icon uk-icon-book"></i>  QUẢN LÝ TÀI KHOẢN
                    </h3>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid">
                        <div class="uk-width-1">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-4 uk-width-1-2 uk-margin-small-bottom">
                                    <div class="md-input-wrapper">
                                        <label class="label-fixed">Tìm kiếm</label>
                                        <input ng-change="Get()" ng-model="filters._keySearch" type="text" class="md-input" placeholder="Tên tài khoản">
                                    </div>
                                </div>
                                <div class="uk-width-medium-3-4 uk-width-1-2">
                                    <button ng-click="showAdd()" class="md-btn md-btn-primary md-btn-wave-light" style="float: right;margin-top: 2px;">Thêm tài khoản</button>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1">
                            <div>
                                <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns
                                     ui-grid-pinning ui-grid-pagination ui-grid-exporter ui-grid-auto-resize class="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("pConfirmDelete")
</div>