<div class="armchair">
    <h3>
        <span ng-if="isAdd">Thêm mới khách sạn</span>
        <span ng-if="!isAdd">Chỉnh sửa khách sạn</span>
    </h3>
    <div class="uk-grid">
        <div class="uk-width-1">
            <div class="uk-grid" id="form_data">
                <div class="uk-width-medium-2-3">
                    <div class="uk-grid">
                        <div class="uk-width-1">
                            <div class="md-input-wrapper">
                                <span>Mã khách sạn</span> <span class="required-field">(*)</span>
                                <input ng-disabled="!isAdd" required ng-model="data.HotelCode" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Tên khách sạn</span> <span class="required-field">(*)</span>
                                <input ng-change="autoConvertAlias()" required ng-model="data.HotelName" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Alias</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.HotelAlias" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Hạng sao</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.Star" type="number" min="1" max="5" class="md-input" style="width: 160px;">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Giá từ</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.PriceFrom" type="text" min="1" max="5" class="md-input" style="width: 160px;">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Địa chỉ</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.Address" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Vị trí trên bản đồ (iframe)</span>
                                <input ng-model="data.FrameLocation" type="text" class="md-input">
                            </div>
                        </div>
                        <div class="uk-width-1">
                            <div class="md-input-wrapper">
                                <span ng-click="showDetailTab(data.FakeTab[0])" class="fake-btn fake-btn-type1 fake-btn-type1-1">Mô tả ngắn</span>
                                <span ng-click="showDetailTab(data.FakeTab[1])" class="fake-btn fake-btn-type1 fake-btn-type1-2">Chi tiết</span>
                                <span ng-click="showDetailTab(data.FakeTab[2])" class="fake-btn fake-btn-type1 fake-btn-type1-3">Tiện nghi</span>
                                <span ng-click="showDetailTab(data.FakeTab[3])" class="fake-btn fake-btn-type1 fake-btn-type1-4">Dịch vụ</span>
                                <span ng-click="showDetailTab(data.FakeTab[4])" class="fake-btn fake-btn-type1 fake-btn-type1-5">Hoạt động</span>
                                <span ng-click="showDetailTab(data.FakeTab[5])" class="fake-btn fake-btn-type1 fake-btn-type1-6">Chính sách</span>
                                <button ng-click="saveTab()" id="btnSaveTab" style="display:none" class="md-btn md-btn-primary">Lưu</button>
                            </div>
                            <div class="md-input-wrapper">
                                <textarea class="md-input" rows="2" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-grid">
                        <div class="uk-width-1">
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Thuộc chuyên mục</span> <span class="required-field">(*)</span>
                                        <select required ng-model="data.MainMenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục phụ 1</span>
                                        <select ng-model="data.W_HotelMenu[0].MenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.W_HotelMenu[0].Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục phụ 2</span>
                                        <select ng-model="data.W_HotelMenu[1].MenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.W_HotelMenu[1].Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục phụ 3</span>
                                        <select ng-model="data.W_HotelMenu[2].MenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.W_HotelMenu[2].Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1 uk-text-center">
                            <span>Ảnh đại diện</span> <span class="required-field">(*)</span>
                            <img id="img-logo" src="~/FileDefault/img-default.gif">
                            <input required id="Logo" style="display: none; width: 0px;" name="Logo" class="upload">
                        </div>
                        <div class="uk-width-1 uk-margin-top">
                            <h3 style="text-decoration: underline;">Gallery</h3>
                            <div class="uk-grid" ng-if="data.W_HotelGallery.length == 0">
                                <div class="uk-width-large-1-4 uk-width-medium-1-3 uk-width-1-4">
                                    <div>
                                        <img src="~/FileDefault/img-default.gif">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small" ng-if="data.W_HotelGallery.length > 0">
                                <div ng-repeat="item in data.W_HotelGallery" class="uk-width-large-1-4 uk-width-medium-1-3 uk-width-1-4">
                                    <div class="box-gallery">
                                        <img ng-src="{{item.Image}}">
                                        <i class="uk-icon uk-icon-close" ng-click="removeGallery($index)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-input-group" style="max-width: 350px;margin: 0 auto;">
                                <input id="Gallery" style="display:none;width: 0px;" name="Gallery" class="upload-gallery">
                                <button id="autoAddGallery" style="display:none" ng-click="addGallery()"></button>
                            </div>
                        </div>
                        <div class="uk-width-1 uk-margin-top">
                            <h3 style="margin-bottom: 0;text-decoration: underline;">Tối ưu hóa công cụ tìm kiếm (SEO)</h3>
                            <div class="md-input-wrapper">
                                <span>Meta Title</span>
                                <input ng-model="data.MetaTitle" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Meta Description</span>
                                <textarea ng-model="data.MetaDescription" class="md-input autosized" rows="2" style="overflow-x: hidden; overflow-wrap: break-word; height: 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="window-footer uk-text-center">
    <button ng-click="closeWindow()" type="button" class="md-btn md-btn-default md-btn-wave-light waves-effect waves-button waves-light">Hủy</button>
    <button ng-if="isAdd" ng-click="Post()" type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Thêm mới</button>
    <button ng-if="!isAdd" ng-click="Put()" type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Cập nhật</button>
</div>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('Description', {
            on: {
                change: function (evt) {
                    $("#btnSaveTab").click();
                }
            }
        });
        function setFileField(fileUrl) {
            $('#' + $(upload).attr('for')).val(fileUrl);
            $("#img-logo").attr("src", fileUrl);
        }
        function setFileFieldGallery(fileUrl) {
            $('#' + $(uploadGallery).attr('for')).val(fileUrl);
            $("#autoAddGallery").click();
        }
        var i = 0;
        if (!$('.button-upload').length > 0) {
            var upload;
            var textBox = $('.upload');
            for (i = 0; i < textBox.length; i++) {
                var uploadText = $(textBox[i]);
                uploadText.css('width', uploadText.width() - 70);
                uploadText.after('<button type="button" for="' + uploadText.attr('id') + '" class="button-upload md-btn md-btn-primary md-btn-wave-light uk-margin-top">Chọn ảnh</button>');
                $('.button-upload').click(function () {
                    upload = $(this);
                    // You can use the "CKFinder" class to render CKFinder in a page:
                    var finder = new CKFinder();
                    finder.basePath = '../files';
                    finder.selectActionFunction = setFileField;
                    finder.popup();
                });
            }
        }
        if (!$('.button-upload-gallery').length > 0) {
            var uploadGallery;
            var textBoxGallery = $('.upload-gallery');
            for (i = 0; i < textBoxGallery.length; i++) {
                var uploadTextGalery = $(textBoxGallery[i]);
                uploadTextGalery.css('width', uploadTextGalery.width() - 70);
                uploadTextGalery.after('<button type="button" for="' + uploadTextGalery.attr('id') + '" class="button-upload-gallery md-btn md-btn-primary md-btn-wave-light uk-margin-top">Thêm Gallery</button>');
                $('.button-upload-gallery').click(function () {
                    uploadGallery = $(this);
                    // You can use the "CKFinder" class to render CKFinder in a page:
                    var finderGallery = new CKFinder();
                    finderGallery.basePath = '../files';
                    finderGallery.selectActionFunction = setFileFieldGallery;
                    finderGallery.popup();
                });
            }
        }
    });
</script>