
@using AsiaCharmtours.Database
@using AsiaCharmtours.Handler
@{
    W_Menu menu = (W_Menu)ViewData["menu"];
    string lan = Request.Cookies["LanguageID"].Value;
    List<W_Menu> menus = QuickData.GetMasterMainMenus(lan);
}
<span class="position-absolute trigger"></span>
<nav class="navbar navbar-expand-sm sticky-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar1">
            <i class="fas fa-bars"></i> Menu
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav efferhover" style="margin: auto">
                @foreach (var item in menus.Where(x => (bool)x.ShowMenuBottom).OrderBy(x => x.Index).ToList())
                {
                    if (item.Highlight == true)
                    {
                        if (item.MenuAlias != menu.MenuAlias)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/@item.MenuAlias">
                                    @item.MenuName
                                </a>
                            </li>
                        }
                    }
                    if (item.MenuParentId == menu.MenuId)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/@item.MenuAlias">
                                @item.MenuName
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>