
@{
    ViewBag.Title = "InquireNow";
}



    <content>
        <!-- <section class="id">
            <div class="banner">
                <img class="img-banner" src="~/Content/images/1.6.jpg" alt="content">
                <div class="wrapper-banner text-center  color-fff">

                    <h1 class="size60 fontb wow fadeIn">
                        New Agent Travel
                    </h1>


                </div>

            </div>
        </section> -->
        <section>
            <div class="backgroundf4">

                <div class="container">

                    <div class="row justify-content-center">
                        <div class="col-lg-6 pad500">
                            <h2 class="fontb size40 text-center">
                                Tell us more about your preferences!
                            </h2>
                            <p class="fontc text-center">We provide tailor made private tour packages to Southeast Asia and the Far East. By filling up this form, you help us better understand your needs and wants in order to create an itinerary that matches you.</p>
                        </div>
                        <div class="col-lg-8 col-md-12 backgroundfff padding20">
                            <div class="row">
                                <div class="w-100">
                                    <h3 class="text-center padd30"> Where will you be travelling to?</h3>

                                </div>
                                <div class="col-xs-5ths">
                                    <input type="checkbox" id="myCheckbox1" />
                                    <label class="lb-checkbox" for="myCheckbox1">
                                        <img class="img-inquirenow" src="~/Content/images/11_2.jpg" alt="">
                                    </label>
                                    <p class="text-center fontb size18">Thai land</p>
                                </div>
                                <div class="col-xs-5ths">
                                    <input type="checkbox" id="myCheckbox2" />
                                    <label class="lb-checkbox" for="myCheckbox2">
                                        <img class="img-inquirenow" src="~/Content/images/3.jpg" alt="">
                                    </label>
                                    <p class="text-center fontb size18">Laos</p>
                                </div>
                                <div class="col-xs-5ths">
                                    <input type="checkbox" id="myCheckbox3" />
                                    <label class="lb-checkbox" for="myCheckbox3">
                                        <img class="img-inquirenow" src="~/Content/images/5.jpg" alt="">
                                    </label>
                                    <p class="text-center fontb size18">VietNam</p>
                                </div>
                                <div class="col-xs-5ths">
                                    <input type="checkbox" id="myCheckbox4" />
                                    <label class="lb-checkbox" for="myCheckbox4">
                                        <img class="img-inquirenow" src="~/Content/images/8.jpg" alt="">
                                    </label>
                                    <p class="text-center fontb size18">Cambodia</p>
                                </div>
                                <div class="col-xs-5ths">
                                    <input type="checkbox" id="myCheckbox5" />
                                    <label class="lb-checkbox" for="myCheckbox5">
                                        <img class="img-inquirenow" src="~/Content/images/11_2.jpg" alt="">
                                    </label>
                                    <p class="text-center fontb size18">Myanmar</p>
                                </div>
                            </div>
                            <div class="row pad500">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="fontc">Departure date (YYYY/MM/DD) </label>
                                        <div class='input-group date'>
                                            <input type='text' id='datetimepicker1' class="form-control backgroundf4" placeholder="" />

                                            <span style="position: absolute;  right: 15px; top:5px; font-size: 20px;">
                                                <i style=" left: -39px; " class="far fa-calendar-alt "></i>
                                            </span>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3 col-xs-6 ">
                                    <div class="form-group ">
                                        <label class="fontc ">Number of Adults </label>
                                        <div class="input-group ">

                                            <input type="number" id="myNumber" class="form-control input-number backgroundf4 " value="0 " />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6 ">
                                    <div class="form-group ">
                                        <label class="fontc ">Number of Children </label>
                                        <div class="input-group ">

                                            <input type="number" id="myNumber" class="form-control input-number backgroundf4 " value="0 " />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label class="fontc ">Duration</label>

                                        <input type="text" id="" class="form-control input-number backgroundf4 " value="" />

                                    </div>

                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label class="fontc ">Hotel Category </label>
                                        <select class="form-control backgroundf4">
                                            <option>3 stars</option>
                                            <option>4 stars </option>
                                            <option>5 stars </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="w-100 text-center ">
                                    <button class="mdal-bt-send txt-upper fontc text-center" id="continueinque">
                                        Continue
                                    </button>

                                </div>

                            </div>
                            <div class="" id="informationinque">
                                <div class="w-100">
                                    <h3 class="text-center">Customer Information</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="fontc ">Duration</label>

                                            <input type="text" id="" class="form-control input-number backgroundf4 " value="" />

                                        </div>

                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="fontc ">Duration</label>

                                            <input type="text" id="" class="form-control input-number backgroundf4 " value="" />

                                        </div>

                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="fontc ">Duration</label>

                                            <input type="text" id="" class="form-control input-number backgroundf4 " value="" />

                                        </div>

                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="fontc ">Hotel Category </label>
                                            <select class="form-control backgroundf4">
                                                <option>3 stars</option>
                                                <option>4 stars </option>
                                                <option>5 stars </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Example textarea</label>
                                            <textarea class="form-control backgroundf4" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="w-100 text-center ">
                                        <button class="mdal-bt-send txt-upper fontc text-center" id="">
                                            Continue
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="row ">
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label for="my-input ">Please enter the code</label>
                                        <input id="my-input " class="form-control " type="text " name=" ">
                                    </div>
                                </div>
                            </div>
                            -->



                        </div>
                    </div>

                </div>
        </section>
    </content>


