<div class="armchair">
    <h3>
        <span ng-if="isAdd">Thêm mới</span>
        <span ng-if="!isAdd">Chỉnh sửa</span>
    </h3>
    <div class="uk-grid">
        <div class="uk-width-1">
            <div class="uk-grid" id="form_data">
                <div class="uk-width-medium-2-3">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="md-input-wrapper">
                                <span>Tên cruise</span> <span class="required-field">(*)</span>
                                <input ng-change="autoConvertAlias()" required ng-model="data.CruiseName" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Alias</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.CruiseAlias" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Số lượng cabin</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.NumberCabin" type="number" value="1" min="1" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Best seller: </span>
                                <input type="checkbox" data-switchery checked id="switch_status" />
                            </div>
                            <div class="md-input-wrapper">
                                <span>Best cruise: </span>
                                <input type="checkbox" data-switchery checked id="switch_bestcruise" />
                            </div>
                            <div class="md-input-wrapper">
                                <span>Best seller index: </span>
                                <input type="checkbox" data-switchery checked id="switch_bestsellers" />
                            </div>
                            <div class="md-input-wrapper">
                                <span>Top cruise: </span>
                                <input type="checkbox" data-switchery checked id="switch_topcruise" />
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="md-input-wrapper">
                                <span>Hạng sao</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.Star" type="number" value="1" min="1" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Điểm đến</span> <span class="required-field">(*)</span>
                                <input required ng-model="data.Destination" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Tiêu đề khuyến mãi</span>
                                <input ng-model="data.PromotionTitle" type="text" class="md-input">
                            </div>
                        </div>
                        <div class="uk-width-1">
                            <div class="md-input-wrapper">
                                <span ng-click="showDetailTab(data.FakeTab[0])" class="fake-btn fake-btn-type1 fake-btn-type1-1">Tổng quan</span>
                                <span ng-click="showDetailTab(data.FakeTab[1])" class="fake-btn fake-btn-type1 fake-btn-type1-2">Mô tả ngắn</span>
                                <span ng-click="showDetailTab(data.FakeTab[2])" class="fake-btn fake-btn-type1 fake-btn-type1-3">Chi tiết</span>
                                <span ng-click="showDetailTab(data.FakeTab[3])" class="fake-btn fake-btn-type1 fake-btn-type1-4">Ghi chú</span>
                                <span ng-click="showDetailTab(data.FakeTab[4])" class="fake-btn fake-btn-type1 fake-btn-type1-5">Khuyến mãi</span>
                                <button ng-click="saveTab()" id="btnSaveTab" style="display:none" class="md-btn md-btn-primary">Lưu</button>
                            </div>
                            <div class="md-input-wrapper">
                                <textarea class="md-input" rows="2" name="Description"></textarea>
                            </div>
                        </div>
                        <div class="uk-width-1">
                            <div class="md-input-wrapper">
                                <span ng-click="showDetailConditionTab(data.FakeCondition[0])" class="fake-btn fake-btn-type2 fake-btn-type2-1">Bữa ăn</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[1])" class="fake-btn fake-btn-type2 fake-btn-type2-2">Phương tiện</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[2])" class="fake-btn fake-btn-type2 fake-btn-type2-3">Chỗ ở</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[3])" class="fake-btn fake-btn-type2 fake-btn-type2-4">Giá bao gồm</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[4])" class="fake-btn fake-btn-type2 fake-btn-type2-5">Giá không bao gồm</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[5])" class="fake-btn fake-btn-type2 fake-btn-type2-6">Chính sách hủy bởi khách hàng</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[6])" class="fake-btn fake-btn-type2 fake-btn-type2-7">Chính sách hủy thời tiết xấu</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[7])" class="fake-btn fake-btn-type2 fake-btn-type2-8">Chính sách trẻ em</span>
                                <span ng-click="showDetailConditionTab(data.FakeCondition[8])" class="fake-btn fake-btn-type2 fake-btn-type2-9">Dịch vụ &amp; sở vật chất</span>
                                <button ng-click="saveConditionTab()" id="btnSaveConditionTab" style="display:none" class="md-btn md-btn-primary">Lưu</button>
                            </div>
                            <div class="md-input-wrapper">
                                <textarea class="md-input" rows="2" name="Condition"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-grid">
                        <div class="uk-width-1">
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục chính</span> <span class="required-field">(*)</span>
                                        <select required ng-model="data.MainMenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục phụ 1</span>
                                        <select ng-model="data.CR_CruiseMenu[0].MenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.CR_CruiseMenu[0].Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục phụ 2</span>
                                        <select ng-model="data.CR_CruiseMenu[1].MenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.CR_CruiseMenu[1].Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-2-3">
                                    <div class="md-input-wrapper">
                                        <span>Chuyên mục phụ 3</span>
                                        <select ng-model="data.CR_CruiseMenu[2].MenuId" class="md-input" convert-to-number>
                                            <option value="">-- Chọn chuyên mục ---</option>
                                            <option ng-repeat="item in menus" value="{{item.MenuId}}">{{item.MenuName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="md-input-wrapper">
                                        <span>Thứ tự</span>
                                        <input ng-model="data.CR_CruiseMenu[2].Index" type="number" min="0" value="0" class="md-input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1 uk-text-center">
                            <span>Ảnh đại diện (390x260)</span> <span class="required-field">(*)</span>
                            <img id="img-logo" src="~/FileDefault/img-default.gif">
                            <input required id="Logo" style="display: none; width: 0px;" name="Logo" class="upload">
                        </div>
                        <div class="uk-width-1 uk-margin-top">
                            <h3 style="text-decoration: underline;">Gallery</h3>
                            <div class="uk-grid" ng-if="data.CR_CruiseGallery.length == 0">
                                <div class="uk-width-large-1-4 uk-width-medium-1-3 uk-width-1-4">
                                    <div>
                                        <img src="~/FileDefault/img-default.gif">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small" ng-if="data.CR_CruiseGallery.length > 0">
                                <div ng-repeat="item in data.CR_CruiseGallery" class="uk-width-large-1-4 uk-width-medium-1-3 uk-width-1-4">
                                    <div class="box-gallery">
                                        <img ng-src="{{item.Image}}">
                                        <i class="uk-icon uk-icon-close" ng-click="removeGallery($index)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-input-group" style="max-width: 350px;margin: 0 auto;">
                                <input id="Gallery" style="display:none;width: 0px;" name="Gallery" class="upload-gallery">
                                <button id="autoAddGallery" style="display:none" ng-click="addGallery()"></button>
                            </div>
                        </div>
                        <div class="uk-width-1 uk-margin-top">
                            <h3 style="margin-bottom: 0;text-decoration: underline;">Tối ưu hóa công cụ tìm kiếm (SEO)</h3>
                            <div class="md-input-wrapper">
                                <span>Meta Title</span>
                                <input ng-model="data.MetaTitle" type="text" class="md-input">
                            </div>
                            <div class="md-input-wrapper">
                                <span>Meta Description</span>
                                <textarea ng-model="data.MetaDescription" class="md-input autosized" rows="2" style="overflow-x: hidden; overflow-wrap: break-word; height: 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="window-footer uk-text-center">
    <button ng-click="closeWindow()" type="button" class="md-btn md-btn-default md-btn-wave-light waves-effect waves-button waves-light">Hủy</button>
    <button ng-if="isAdd" ng-click="Post()" type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Thêm mới</button>
    <button ng-if="!isAdd" ng-click="Put()" type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Cập nhật</button>
</div>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('Description', {
            on: {
                change: function (evt) {
                    $("#btnSaveTab").click();
                }
            }
        });
        CKEDITOR.replace('Condition', {
            on: {
                change: function (evt) {
                    $("#btnSaveConditionTab").click();
                }
            }
        });


        function setFileField(fileUrl) {
            $('#' + $(upload).attr('for')).val(fileUrl);
            $("#img-logo").attr("src", fileUrl);
        }
        function setFileFieldGallery(fileUrl) {
            $('#' + $(uploadGallery).attr('for')).val(fileUrl);
            $("#autoAddGallery").click();
        }
        var i = 0;
        if (!$('.button-upload').length > 0) {
            var upload;
            var textBox = $('.upload');
            for (i = 0; i < textBox.length; i++) {
                var uploadText = $(textBox[i]);
                uploadText.css('width', uploadText.width() - 70);
                uploadText.after('<button type="button" for="' + uploadText.attr('id') + '" class="button-upload md-btn md-btn-primary md-btn-wave-light uk-margin-top">Chọn ảnh</button>');
                $('.button-upload').click(function () {
                    upload = $(this);
                    // You can use the "CKFinder" class to render CKFinder in a page:
                    var finder = new CKFinder();
                    finder.basePath = '../files';
                    finder.selectActionFunction = setFileField;
                    finder.popup();
                });
            }
        }
        if (!$('.button-upload-gallery').length > 0) {
            var uploadGallery;
            var textBoxGallery = $('.upload-gallery');
            for (i = 0; i < textBoxGallery.length; i++) {
                var uploadTextGalery = $(textBoxGallery[i]);
                uploadTextGalery.css('width', uploadTextGalery.width() - 70);
                uploadTextGalery.after('<button type="button" for="' + uploadTextGalery.attr('id') + '" class="button-upload-gallery md-btn md-btn-primary md-btn-wave-light uk-margin-top">Thêm Gallery</button>');
                $('.button-upload-gallery').click(function () {
                    uploadGallery = $(this);
                    // You can use the "CKFinder" class to render CKFinder in a page:
                    var finderGallery = new CKFinder();
                    finderGallery.basePath = '../files';
                    finderGallery.selectActionFunction = setFileFieldGallery;
                    finderGallery.popup();
                });
            }
        }
    });
</script>