<div id="modalConfirm" class="uk-modal" style="z-index: 10002;">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <h3>Thông báo</h3>
        <div>
            <div class="uk-grid">
                <div class="uk-width-1">

                    <h4>
                        <i class="uk-icon uk-icon-warning"></i>
                        Bản ghi này sẽ bị xóa. Bạn có chắc không?
                    </h4>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1 uk-text-right">
                    <button  ng-click="Delete()"type="button" class="md-btn md-btn-danger">Xóa</button>
                    <button type="button" class="md-btn md-btn-default uk-modal-close" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>