
@{
    ViewBag.Title = "Bảng giá tour";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(".li-tour").addClass('active');
</script>
@Html.Partial("~/Views/PartialView/Admin/pScriptUIGrid.cshtml")
<script src="~/Scripts/BaseJS/kendo-window.js"></script>
<script src="~/Plugin/ckeditor/ckeditor.js"></script>
<script src="~/Plugin/ckeditor/config.js"></script>
<script src="~/Plugin/ckeditor/styles.js"></script>
<script src="~/Plugin/ckeditor/sample.js"></script>
<script>
    CKEDITOR.config.customConfig = "";
    CKEDITOR.config.toolbar = [
        ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink'],
        ['FontSize', 'TextColor', 'BGColor']
    ];
    CKEDITOR.config.height = 100;
</script>
<script src="~/Areas/TourManagement2/Content/js/Tour/tour-price.js"></script>
<div ng-app="app" ng-controller="controller">
    <div class="reservation">
        <div id="kUI_window" style="display:none;">
            @Html.Partial("pDetailTourPrice")
        </div>
    </div>
    <div class="uk-grid uk-grid-small">
        <div class="uk-width-1">
            <div class="md-card">
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">
                        <i class="uk-icon uk-icon-umbrella"></i>  BẢNG GIÁ TOUR
                    </h3>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid">
                        <div class="uk-width-1">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-3 uk-margin-small-bottom">
                                    <div class="md-input-wrapper">
                                        <label class="label-fixed">Tìm kiếm</label>
                                        <input ng-change="Get()" ng-model="filters._keySearch" type="text" class="md-input" placeholder="Mã tour bán,mã tour, tên tour">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1">
                            <div>
                                <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns
                                     ui-grid-pinning ui-grid-pagination ui-grid-exporter class="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>